{% extends 'layout.html.twig' %}

{% block content %}

<form action="{{ baseController}}/dashboard/contacts/{{ id }}/edit" method="post">
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.gender) }}
    {{ form_widget(form._token) }}
    <input type="submit" name="submit" />
</form>
{% endblock %}